name: Make release on tag
# cSpell: words pubout rootfs

on:
  pull_request:
    branches: ["main"]
  push:
    tags: ["v*"]

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ^1
      - name: Import Signature key
        run: |
          echo -e "$GPG_PRIVATE_KEY" > kaweezle-devel@kaweezle.com-c9d89864.rsa
          openssl rsa -in kaweezle-devel@kaweezle.com-c9d89864.rsa -pubout -out kaweezle-devel@kaweezle.com-c9d89864.rsa.pub
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: ${{ github.event_name == 'push' && 'release --clean' || '--snapshot --skip=publish --clean' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SCOOP_BUCKET_GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      - name: Trigger APK repo build
        uses: peter-evans/repository-dispatch@v2
        if: github.event_name == 'push'
        with:
          token: ${{ secrets.ROOTFS_ACCESS_TOKEN }}
          repository: kaweezle/kaweezle.github.io
          event-type: karmafun-release
          client-payload: >-
            {"version": "${{ github.ref_name }}", "ref": "${{ github.ref }}",
            "sha": "${{ github.sha }}"}
